<div>
    <img src="/img/topic7.png" alt="" />
    <div class="p-3 pt-20">
        <a class='js' href="javascript:void(0);" onclick="return openPdf('ArchitecturePatterns');">Architecture Patterns Guide</a>
    </div>
</div>

