@{
    ViewBag.Title = "JavaScript Architecture Patterns";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/architecture">Architecture</a></li>
</ol>

<div class="row">
    <div class="col-7">
        <h2>JavaScript Architecture Patterns</h2>
        <div class="p-30">

            <p>
                JavaScript was not designed for large scale application development.  <br /><br />In this section we present
                JavaScript Architecture patterns which will make your life as a JavaScript developer building large apps a bit easier
                and your projects more successful.
            </p>

        </div>
    </div>
    <div class="col-5 text-center pt-30">
        <partial name="_Image" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-8">
        <table class="table">
            <tr>
                <th colspan="2"  class="font-18 open-sans fw-light-bold" style="border-top:0px solid white;border-bottom:2px solid #F45D48;">&nbsp;&nbsp;Architecture Patterns</th>
            </tr>
            <tr>
                <td class="w-40 pt-20">&nbsp;&nbsp;&nbsp;<a class="link" href='/architecture/introduction'>Introduction</a></td>
                <td class="w-60 pt-20">Introduction to Architecture Patterns</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/architecture/scriptloading'>Script Loading</a></td>
                <td >Effective JavaScript file loading techniques</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/architecture/modularity'>Modularity</a></td>
                <td >Partitioning your code base in standalone, independent units</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/architecture/amdrequire'>AMD & Require.js</a></td>
                <td >A standard approach to making large projects easier to manage</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/architecture/transpilers'>JavaScript Transpilers</a></td>
                <td >New languages that are transpiled (translated and compiled) to JavaScript</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/architecture/errorhandling'>Error Handling</a></td>
                <td >Best practices for handling errors in JavaScript</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/architecture/testing'>JavaScript Testing</a></td>
                <td >Overview of JavaScript testing tools and techniques</td>
            </tr>

        </table>

    </div>
</div>

<br />
<br />
<br />




