<div class="d-flex pt-30">
    <div>Usage in JavaScript:</div>
    <div class="pt-8 px-20">
        <div class="progress width-150">
            <div class="progress-bar bg-danger" style="width:75%"></div>
        </div>
    </div>
    <div class="font-italic">medium high</div>
</div>

