<div>
    <img src="/img/topic5.png" width="120" alt="" />
    <div class="p-3 pt-20">
        <a class='js' href="javascript:void(0);" onclick="return openPdf('ModernPatterns', true);">Modern Patterns Guide</a>
    </div>
</div>

