@{
    ViewBag.Title = "Modern Design Patterns";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/modern">Modern</a></li>
</ol>

<div class="row">
    <div class="col-7">
        <h2>Modern JavaScript Patterns</h2>
        <div class="py-30 pl-md-40 pl-0">
            <p>
                In recent years, numerous Modern Design Patterns have evolved allowing JavaScript developers to build more effective and maintainable web apps. <br /><br />
                This section reviews these Modern Design Patterns that are used by expert JavaScript developers.
            </p>
        </div>
    </div>
    <div class="col-5 text-center pt-30">
        <partial name="_Image" />
    </div>
</div>


<br />
<br />
<br />

<div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th colspan="2" style="border-top:0px solid white;border-bottom:2px solid #F45D48;">&nbsp;&nbsp;<span class="font-weight-semibold">Modern Patterns</span></th>
            </tr>
            <tr>
                <td class="pt-25">&nbsp;&nbsp;&nbsp;<a href='/modern/introduction'>Introduction</a></td>
                <td class="pt-25">Introduction to Modern JavaScript Patterns</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/constructor'>Constructor</a></td>
                <td>Alternative ways to create new object instances</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/namespace'>Namespace</a></td>
                <td>Creates a structure to avoid name collisions</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/module'>Module</a></td>
                <td>Organizes programs in logical and functional units &nbsp;&nbsp;--&nbsp;&nbsp; <span style="color:brown; font-style:italic;">Module, Revealing Module, Partial Module</span></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/chaining'>Chaining</a></td>
                <td>Enables calling multiple methods on a single object</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/invocation'>Invocation</a></td>
                <td>Alternative ways to invoke a function or a method &nbsp;&nbsp;--&nbsp;&nbsp; <span style="color:brown; font-style:italic;">Function, Method, Constructor, Apply</span></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/mixin'>Mixin</a></td>
                <td>A way to dynamically add functionality to an object &nbsp;&nbsp;--&nbsp;&nbsp; <span style="color:brown; font-style:italic;">Prototypal Inheritance, Mixin, Extend, Functional Extend</span></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/monkeypatch'>Monkeypatch</a></td>
                <td>Changes an object without affecting the original code</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/lazyload'>Lazy Load</a></td>
                <td>Loads data or code only when absolutely necessary &nbsp;&nbsp;--&nbsp;&nbsp; <span style="color:brown; font-style:italic;">Lazy Initialization, Ghost</span></td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/multiton'>Multiton</a></td>
                <td>Limits the number of object instances that can be created</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a href='/modern/partial'>Partial</a></td>
                <td>Techniques to load or run constructs only partially &nbsp;&nbsp;--&nbsp;&nbsp; <span style="color:brown; font-style:italic;">Partial Method, Partial Object</span></td>
            </tr>
        </table>

    </div>
</div>


