@{
    ViewBag.Title = "Introduction";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/modern">Modern</a></li>
    <li class="breadcrumb-item"><a href="/modern/introduction">Introduction</a></li>
</ol>

<div class="row">
    <div class="col-7">
        <h2>Introduction</h2>
        <div class="py-30 pl-md-40 pl-0">
            <p>
                Introduction to Modern JavaScript Patterns.
                <br /><br />
                Brief introduction to JavaScript and Modern Design Patterns.
            </p>
        </div>
    </div>
    <div class="col-5 text-center pt-30">
        <partial name="_Image" />
    </div>
</div>


<br />
<hr />
<br />

<div class="row">
    <div class="col-7">
        <h3>Essentials</h3>
        <br />
        <div class="pl-md-40">
            <p>
                Modern Patterns are more recently developed JavaScript patterns.  Several are JavaScript specific meaning they specifically apply to JavaScript and not to any other language.
                Patterns in this category include Invocation, Monkey Patch and Partial Patterns.
            </p>
            <p>
                Other Modern Patterns are designed to implement features that exist in other, more mature languages but that are lacking in JavaScript. Examples of this category include Module and Namespace.
                These patterns and more are presented in this section.
            </p>
        </div>
        <div class="d-flex py-30 pl-md-40">
            <div><i class="icon-arrow-left pr-10 font-13"></i><a class="font-16 open-sans" href='/modern'>Back to List</a></div>
            <div class="ms-auto"><a class="font-16 open-sans" href='/modern/constructor'>Constructor</a><i class="icon-arrow-right font-13 pl-10"></i></div>
        </div>
    </div>
</div>




