@{
    ViewBag.Title = "JavaScript Patterns in Action";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/inaction">Patterns in Action</a></li>
</ol>


<div class="row">
    <div class="col-7">
        <h2>JavaScript Patterns in Action</h2>
        <div class="p-30">
            <p>Nothing beats learning from comprehensive, real-world JavaScript application code.</p>
            <p>
                In this section we showcase 6 sample apps
                that use design patterns, idioms, and libraries/frameworks mentioned throughout this program.
            </p>
        </div>
    </div>
    <div class="col-5 text-center pt-30">
        <partial name="_Image" />
    </div>
</div>

<br />
<br />



<div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th colspan="2"  class="font-18 open-sans fw-light-bold" style="border-top:0px solid white;border-bottom:2px solid #F45D48;">&nbsp;&nbsp;JavaScript Patterns in Action</th>
            </tr>
            <tr>
                <td class="pt-20 pl-25"><a class="link" href='/inaction/introduction'>Introduction</a></td>
                <td class="pt-20">
                    Introduction to the JavaScript Patterns in Action apps
                </td>
            </tr>
            <tr>
                <td class="pl-25"><a class="link" href='/inaction/dashboard'>Dashboard</a></td>
                <td>
                    A dashboard app displaying dynamic line and pie charts
                </td>
            </tr>
            <tr>
                <td class="pl-25"><a class="link" href='/inaction/dataentry'>Data Entry</a></td>
                <td>
                    A data entry app supporting CRUD (Create Read Update Delete) actions
                </td>
            </tr>
            <tr>
                <td class="pl-25"><a class="link" href='/inaction/search'>Search</a></td>
                <td>
                    A search app displaying a list of results
                </td>
            </tr>
            <tr>
                <td class="pl-25"><a class="link" href='/inaction/pagination'>Pagination</a></td>
                <td>
                    A pagination app that pages through images of art
                </td>
            </tr>
        </table>

    </div>
</div>

<br />
<br />
<hr />

<div style="height:150px;">&nbsp;</div>


