<div class="container border-top font-15 py-20 mt-35 d-flex open-sans">
    <div>Copyright (c) @DateTime.Now.Year, &nbsp;Dofactory.com</div>
    <div class="ms-auto"><a id="totop" class="underline" href="#">Back to top</a></div>
</div>

