
<header class='navbar navbar-expand-lg py-0 pl-0 '>

    <div class="container d-flex open-sans">
        <div class="pl-10 font-30"><a class="text-white no-underline fw-light-bold" href="/">Dofactory JS</a></div>
        <div class="pr-30 ms-auto text-white font-16">Dofactory JS version 6.0</div>

    </div>

</header>

