@{
    ViewBag.Title = "Factory Method";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/classic">Classic</a></li>
    <li class="breadcrumb-item"><a href="/classic/factorymethod">Factory Method</a></li>
</ol>


<div class="row">
    <div class="col-7">
        <h2>Factory Method</h2>
        <div class="py-30 pl-md-40 pl-0">

            <p>
                Define an interface for creating an object, but let subclasses decide which class to instantiate. Factory Method lets a class defer instantiation to subclasses.
            </p>

            <partial name="_UsageMediumHigh" />

        </div>
    </div>
    <div class="col-5 text-center pt-30">
        <partial name="_Image" />
    </div>
</div>


<br />
<hr />
<br />


<div class="row">
    <div class="col-8">
        <h3>Summary</h3>
        <br />
        <p class="ptext">
            A Factory Method creates new objects as instructed by the client. One way to create objects in JavaScript is by invoking a constructor function with the new operator.
            There are situations however, where the client does not, or should not, know which one of several candidate objects to instantiate.
            The Factory Method allows the client to delegate object creation while still retaining control over which type to instantiate.
        </p>
        <p class="ptext">
            The key objective of the Factory Method is extensibility. Factory Methods are frequently used in applications that manage, maintain,
            or manipulate collections of objects that are different but at the same time have many characteristics (i.e. methods and properties) in common.
            An example would be a collection of documents with a mix of Xml documents, Pdf documents, and Rtf documents.
        </p>
    </div>
    <div class="col-3 offset1"></div>
</div>
<br />
<!-- Diagram -->
<div class="row">
    <div class="col-8">
        <h3>Diagram</h3>
        <div style="padding: 14px 0 0 120px;">
            <img src="/img/diagrams/javascript-factory-method.jpg" alt="" />
        </div>
    </div>
    <div class="col-3 offset1"></div>
</div>
<br />
<br />
<!-- Participants -->
<div class="row">
    <div class="col-8">
        <h3>Participants</h3>
        <br />
        <div class="ptext">
            The objects participating in this pattern are: <br /><br />

            <ul>
                <li>
                    <b>Creator</b> -- In sample code: <b style="color:#088;">Factory</b>
                    <ul>
                        <li>the 'factory' object that creates new products</li>
                        <li>implements 'factoryMethod' which returns newly created products</li>
                    </ul>
                </li>
                <li>
                    <b>AbstractProduct</b> -- not used in JavaScript
                    <ul>
                        <li>declares an interface for products</li>
                    </ul>
                </li>
                <li>
                    <b>ConcreteProduct</b> -- In sample code: <b style="color:#088;">Employees</b>
                    <ul>
                        <li>the product being created</li>
                        <li>all products support the same interface (properties and methods)</li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div class="col-3 offset1"></div>
</div>
<br />
<!-- JavaScript code -->
<div class="row">
    <div class="col-8">
        <h3>JavaScript Code</h3>
        <br />
        <p class="ptext">
            In this JavaScript example the <span class="cd">Factory</span> object creates four different types of employees.
            Each employee type has a different hourly rate.  The <span class="cd">createEmployee</span> method is the actual Factory Method.
            The client instructs the factory what type of employee to create by passing a type argument into the Factory Method.
        </p>
        <p class="ptext">
            The AbstractProduct in the diagram is not implemented because Javascript does not support abstract classes or interfaces.
            However, we still need to ensure that all employee types have the same interface (properties and methods).
        </p>
        <p class="ptext">
            Four different employee types are created; all are stored in the same array.
            Each employee is asked to say what they are and their hourly rate.
        </p>
        <p class="ptext">
            The <span class="cd">log</span> function is a helper which collects and displays results.
        </p>

        <br />
<pre class="prettyprint">
function Factory() {
    this.createEmployee = function (type) {
        var employee;

        if (type === "fulltime") {
            employee = new FullTime();
        } else if (type === "parttime") {
            employee = new PartTime();
        } else if (type === "temporary") {
            employee = new Temporary();
        } else if (type === "contractor") {
            employee = new Contractor();
        }

        employee.type = type;
        employee.say = function () {
            log.add(this.type + ": rate " + this.hourly + "/hour");
        }
        return employee;
    }
}

var FullTime = function () {
    this.hourly = "$12";
};
var PartTime = function () {
    this.hourly = "$11";
};
var Temporary = function () {
    this.hourly = "$10";
};
var Contractor = function () {
    this.hourly = "$15";
};

// log helper
var log = (function () {
    var log = "";
    return {
        add: function (msg) { log += msg + "\n"; },
        show: function () { alert(log); log = ""; }
    }
})();


function run() {

    var employees = [];

    var factory = new Factory();

    employees.push(factory.createEmployee("fulltime"));
    employees.push(factory.createEmployee("parttime"));
    employees.push(factory.createEmployee("temporary"));
    employees.push(factory.createEmployee("contractor"));

    for (var i = 0, len = employees.length; i < len; i++) {
        employees[i].say();
    }

    log.show();
}
</pre>
        <a class="btn btn-green" href="javascript:void(0);" onclick="run();return false;">Run</a>&nbsp;&nbsp; <i>Displays 1 alert box.</i>

        <script type="text/javascript">
            function Factory() {
                this.createEmployee = function (type) {
                    var employee;

                    if (type === "fulltime") {
                        employee = new FullTime();
                    } else if (type === "parttime") {
                        employee = new PartTime();
                    } else if (type === "temporary") {
                        employee = new Temporary();
                    } else if (type === "contractor") {
                        employee = new Contractor();
                    }

                    employee.type = type;
                    employee.say = function () {
                        log.add(this.type + ": rate " + this.hourly + "/hour");
                    }
                    return employee;
                }
            }

            var FullTime = function () {
                this.hourly = "$12";
            };
            var PartTime = function () {
                this.hourly = "$11";
            };
            var Temporary = function () {
                this.hourly = "$10";
            };
            var Contractor = function () {
                this.hourly = "$15";
            };

            // log helper
            var log = (function () {
                var log = "";
                return {
                    add: function (msg) { log += msg + "\n"; },
                    show: function () { alert(log); log = ""; }
                }
            })();


            function run() {

                var employees = [];

                var factory = new Factory();

                employees.push(factory.createEmployee("fulltime"));
                employees.push(factory.createEmployee("parttime"));
                employees.push(factory.createEmployee("temporary"));
                employees.push(factory.createEmployee("contractor"));

                for (var i = 0, len = employees.length; i < len; i++) {
                    employees[i].say();
                }

                log.show();
            }
        </script>



    </div>
</div>

<br />
<br />
<br />

<!-- JavaScript Optimated Code -->
<div class="row">
    <div class="col-8">
        <h3>JavaScript Optimized Code</h3>
        <br />
        <p class="ptext">
            The Namespace pattern is applied to keep the code out of the global namespace. Our namespace is named <span class="cd">Patterns.Classic</span>.
            A Revealing Module named <span class="cd">Factory</span> encapsulates all of Factory Method's functions.
            Only the actual Factory Method named <span class="cd">createEmployee</span> is exposed (revealed), whereas all other functions
            <span class="cd">FullTime</span>, <span class="cd">PartTime</span>, <span class="cd">Temporary</span> and <span class="cd">Contractor</span> constructor functions are kept private inside the module.
        </p>
        <p class="ptext">
            The <span class="cd">Patterns</span> object contains the <span class="cd">namespace</span> function which constructs namespaces non-destructively,
            that is, if a name already exists it won't overwrite it.
        </p>
        <p class="ptext">
            The <span class="cd">log</span> function is a helper which collects and displays results.
        </p>

        <br />
<pre class="prettyprint">
var Patterns = {
    namespace: function (name) {
        var parts = name.split(".");
        var ns = this;

        for (var i = 0, len = parts.length; i < len; i++) {
            ns[parts[i]] = ns[parts[i]] || {};
            ns = ns[parts[i]];
        }

        return ns;
    }
};

Patterns.namespace("Classic").Factory = (function () {

    var createEmployee = function (type) {
        var employee;

        if (type === "fulltime") {
            employee = new FullTime();
        } else if (type === "parttime") {
            employee = new PartTime();
        } else if (type === "temporary") {
            employee = new Temporary();
        } else if (type === "contractor") {
            employee = new Contractor();
        }

        employee.type = type;
        employee.say = function () {
            log.add(this.type + ": rate " + this.hourly + "/hour");
        }
        return employee;
    };

    var FullTime = function () {
        this.hourly = "$12";
    };
    var PartTime = function () {
        this.hourly = "$11";
    };
    var Temporary = function () {
        this.hourly = "$10";
    };
    var Contractor = function () {
        this.hourly = "$15";
    };

    return {
        createEmployee: createEmployee
    };

})();

// log helper
var log = (function () {
    var log = "";
    return {
        add: function (msg) { log += msg + "\n"; },
        show: function () { alert(log); log = ""; }
    }
})();


function run() {

    var employees = [];

    var factory = Patterns.Classic.Factory;

    employees.push(factory.createEmployee("fulltime"));
    employees.push(factory.createEmployee("parttime"));
    employees.push(factory.createEmployee("temporary"));
    employees.push(factory.createEmployee("contractor"));

    for (var i = 0, len = employees.length; i < len; i++) {
        employees[i].say();
    }

    log.show();
}
</pre>
        <a class="btn btn-green" href="javascript:void(0);" onclick="run1();return false;">Run</a>&nbsp;&nbsp; <i>Displays 1 alert box.</i>

        <script type="text/javascript">
            var Patterns = {
                namespace: function (name) {
                    var parts = name.split(".");
                    var ns = this;

                    for (var i = 0, len = parts.length; i < len; i++) {
                        ns[parts[i]] = ns[parts[i]] || {};
                        ns = ns[parts[i]];
                    }

                    return ns;
                }
            };

            Patterns.namespace("Classic").Factory = (function () {

                var createEmployee = function (type) {
                    var employee;

                    if (type === "fulltime") {
                        employee = new FullTime();
                    } else if (type === "parttime") {
                        employee = new PartTime();
                    } else if (type === "temporary") {
                        employee = new Temporary();
                    } else if (type === "contractor") {
                        employee = new Contractor();
                    }

                    employee.type = type;
                    employee.say = function () {
                        log.add(this.type + ": rate " + this.hourly + "/hour");
                    }
                    return employee;
                };

                var FullTime = function () {
                    this.hourly = "$12";
                };
                var PartTime = function () {
                    this.hourly = "$11";
                };
                var Temporary = function () {
                    this.hourly = "$10";
                };
                var Contractor = function () {
                    this.hourly = "$15";
                };

                return {
                    createEmployee: createEmployee
                };

            })();

            // log helper
            var log = (function () {
                var log = "";
                return {
                    add: function (msg) { log += msg + "\n"; },
                    show: function () { alert(log); log = ""; }
                }
            })();


            function run1() {

                var employees = [];

                var factory = Patterns.Classic.Factory;

                employees.push(factory.createEmployee("fulltime"));
                employees.push(factory.createEmployee("parttime"));
                employees.push(factory.createEmployee("temporary"));
                employees.push(factory.createEmployee("contractor"));

                for (var i = 0, len = employees.length; i < len; i++) {
                    employees[i].say();
                }

                log.show();
            }

        </script>
        <div class="d-flex py-30">
            <div><i class="icon-arrow-left pr-10 font-13"></i><a class="font-16 open-sans" href='/classic/builder'>Builder</a></div>
            <div class="ms-auto"><a class="font-16 open-sans" href='/classic/prototype'>Prototype</a><i class="icon-arrow-right font-13 pl-10"></i></div>
        </div>

    </div>
</div>



