@{
    ViewBag.Title = "jQuery Design Patterns";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/jquery">jQuery</a></li>
</ol>


<div class="row">
    <div class="col-7">
        <h2>jQuery Design Patterns</h2>
        <div class="p-30">
            jQuery is by far the most popular JavaScript library. jQuery makes it easy to
            traverse HTML documents, handle events, build animations, and perform Ajax interactions.<br /><br />
            In this section we review how jQuery uses Idioms, Modern Patterns, and Classic Patterns.
            We will also look at extending jQuery through plugins.
        </div>
    </div>
    <div class="col-5 text-center pt-30">
        <partial name="_Image" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-9">
        <table class="table">
            <tr>
                <th colspan="2"  class="font-18 open-sans fw-light-bold" style="border-top:0px solid white;border-bottom:2px solid #F45D48;">&nbsp;&nbsp;jQuery Modern Patterns  &  Idioms</th>
            </tr>
            <tr>
                <td class="w-30">&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/introduction'>Introduction</a></td>
                <td>Introduction to jQuery and Design Patterns</td>
            </tr>
            <tr>
                <td class="first-col">&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/module'>Module</a></td>
                <td>Organizes the code in logical or functional units</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/singlevar'>Single var</a></td>
                <td>Declares and initializes all function variables with a single var</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/doubleexclamation'>Double Exclamation</a></td>
                <td>Apply double exclamation to a variable to ensure it is boolean</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/overload'>Overloading</a></td>
                <td>Allows function overloading using argument switching</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/placeholder'>Placeholder</a></td>
                <td>A way to signify unused function parameters</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/shortwalk'>Short Walk</a></td>
                <td>Shortens the length of the prototype chain walk</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/optionshash'>Options Hash</a></td>
                <td>Reduces multiple function arguments to a single argument</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/chaining'>Chaining</a></td>
                <td>Allows multiple chained method calls on an object</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/namespace'>Namespace</a></td>
                <td>Organizes the code to avoid name collisions</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/lazyload'>Lazy Load</a></td>
                <td>Creates data or code items only when absolutely necessary</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/zerotimeout'>Zero Timeout</a></td>
                <td>Provides a way to avoid the user iterface from freezing up</td>
            </tr>
        </table>
          <br />
        <table class="table">
            <tr>
                <th colspan="2"  class="font-18 open-sans fw-light-bold"  style="border-top:0px solid white;border-bottom:1px solid #F45D48;">&nbsp;&nbsp;jQuery Classic Patterns</th>
            </tr>
            <tr>
                <td class="w-30">&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/singleton'>Singleton</a></td>
                <td>An object of which only a single instance can be created</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/iterator'>Iterator</a></td>
                <td>Sequentially access the elements of a collection</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/observer'>Observer</a></td>
                <td>A way of notify changes to a number of objects</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/proxy'>Proxy</a></td>
                <td>An object representing another object</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/facade'>Facade</a></td>
                <td>A single object that represents an entire subsystem</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/adapter'>Adapter</a></td>
                <td>Matches interfaces of different objects</td>
            </tr>
        </table>
        <br />
        <table class="table">
            <tr>
                <th colspan="2"  class="font-18 open-sans fw-light-bold"  style="border-top:0px solid white;border-bottom:1px solid #F45D48;">&nbsp;&nbsp;jQuery Plugin Patterns</th>
            </tr>
            <tr>
                <td class="w-30">&nbsp;&nbsp;&nbsp;<a class="link" href='/jquery/plugin'>jQuery Plugins</a></td>
                <td>An effective way to extend or enhance jQuery</td>
            </tr>

        </table>

    </div>
</div>

<br />
<br />
<hr />

