<div>
    <img src="/img/topic4.png" alt="" />
    <div class="p-3 pt-20">
        <a class='js' href="javascript:void(0);" onclick="return openPdf('Rockstar');">JavaScript Rockstar Guide</a>
    </div>
</div>

