<div>
    <img src="/img/topic9.png" alt="" />
    <div class="p-3 pt-20">
        <a class='js' href="javascript:void(0);" onclick="return openPdf('PatternEssentials', true);">Pattern Essentials Guide</a>
    </div>
</div>

