@{
    ViewBag.Title = "JavaScript & Pattern Essentials";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/essentials">Essentials</a></li>
</ol>

<div class="row">
    <div class="col-7">
        <h2>JavaScript & Pattern Essentials</h2>
        <div class="p-30">
            This section presents an introduction to Design Patterns as well as essential JavaScript topics.
            These topics will provide a solid foundation for your journey to JavaScript + jQuery Design Patterns.
        </div>

    </div>
    <div class="col-5 text-center pt-30">
        <partial name="_Image" />
    </div>
</div>

<br />
<br />

<div class="row">
    <div class="col-12">
        <table class="table">
            <tr>
                <th colspan="2" class="open-sans font-18" style="border-top:0px solid white;border-bottom:2px solid #F45D48;font-weight:600;">&nbsp;&nbsp;<span>JavaScript & Pattern Essentials</span></th>
            </tr>
            <tr>
                <td class="essential-col pt-20">&nbsp;&nbsp;&nbsp;1. &nbsp;<a class="link"  href='/essentials/introduction'>Introduction</a></td>
                <td class="pt-20">Introduction to JavaScript & Patterns</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;2. &nbsp;<a class="link" href='/essentials/designpatterns'>What are Design Patterns?</a></td>
                <td>First exploration of Design Patterns</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;2. &nbsp;<a class="link" href='/essentials/javascriptpatterns'>Design Patterns & JavaScript</a></td>
                <td>Exploring the role of Design Pattern in JavaScript</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;3. &nbsp;<a class="link" href='/essentials/oodesign'>OO, SOLID, & DRY principles</a></td>
                <td>Provides a foundation of Object-Oriented Design principles in JavaScript</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;4. &nbsp;<a class="link" href='/essentials/unobtrusive'>Unobtrusive JavaScript</a></td>
                <td>Explains the notion of Unobtrusive JavaScript, Layering, and Separation of Concerns</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;5. &nbsp;<a class="link" href='/essentials/eventloop'>The Event Loop</a></td>
                <td>An in-depth look into the single-threaded JavaScript event loop</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;6. &nbsp;<a class="link" href='/essentials/prototypes'>Prototypes in JavaScript</a></td>
                <td>An in-depth look into Prototypes and Prototypal Inheritance in JavaScript</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;7. &nbsp;<a class="link" href='/essentials/crackingidioms'>Cracking JavaScript Idioms</a></td>
                <td>Teaching you the art of decyphering hard-to-read JavaScript Idioms</td>
            </tr>
            <tr>
                <td>&nbsp;&nbsp;&nbsp;8. &nbsp;<a class="link" href='/essentials/codingstandards'>Coding Standards & Style</a></td>
                <td>A Coding Standards and Style Guide for professional JavaScript development</td>
            </tr>
        </table>
    </div>
</div>




