@{
    ViewBag.Title = "Introduction";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/essentials">Essentials</a></li>
    <li class="breadcrumb-item"><a href="/essentials/introduction">Introduction</a></li>
</ol>


<div class="row">
    <div class="col-7">
        <h2>Introduction</h2>
        <div class="py-30 pl-md-40 pl-0">
            A review of JavaScript in the context of Design Patterns and Pattern Architectures.
        </div>
    </div>
    <div class="col-5 text-center pt-30">
        <partial name="_Image" />
    </div>
</div>


<br />
<hr />
<br />


<div class="row">
    <div class="col-7">
        <h3>Essentials</h3>
        <br />
        <div class="pl-md-40">
            <p>
                The goal of JavaScript & Pattern Essentials section is to review JavaScript in the context of Design Pattern development and provide a solid foundation for building
                modern web apps using JavaScript design patterns and pattern architectures. This will create a level playing field for all app developers wanting to learn
                about JavaScript patterns.  A variety of topics will be covered.
            </p>
            <p>
                This package is about design patterns and best practices, so we will start off with a brief introduction on design patterns, their history, and the benefits of
                using them in modern day app development. We will also touch on the rather unique relationship that exists between JavaScript and design patterns.
            </p>
            <p>
                Objects and their interactions play a central role in design patterns. JavaScript is an object-oriented language and it is important to have a good understanding
                of object modeling and object-oriented design. To this end we have a section on JavaScript OO Design which includes a review of the relevant <i>SOLID</i> and <i>DRY</i> principles.
                This section ends with another principle called the <i>Rule of Three</i>.
            </p>
            <p>
                Web pages can easily get unwieldy in which JavaScript, HTML and CSS styling are all jumbled together. In the section on Unobtrusive JavaScript
                you will learn how to structure your pages using the principles of <i>unobtrusive JavaScript</i> and <i>separation of concerns</i>.
            </p>
            <p>
                Next we take a deep dive into two areas that are important to JavaScript developers: 1) the event loop and 2) JavaScript prototypes.
                Both areas are a frequent source of confusion and it is essential that you thoroughly understand these topics to be able to write efficient and effective JavaScript applications.
            </p>
            <p>
                Over the course of your career you are likely to run into JavaScript code that has you dumbfounded. Perhaps you understand it syntactically, but it does not seem to make any sense.
                JavaScript is a flexible language that allows shortcuts (i.e. idioms) that are powerful and elegant, but often incredibly hard to decipher. We have a section on cracking JavaScript idioms
                in which we highlight numerous idioms to help you understand these obscurities. This actually is a fun section; JavaScript allows you to do some pretty weird things.
            </p>
            <p>
                In the final part of this section we list a set of common-sense coding standards and style guidelines. Having a clear standard will allow you and your team to build a
                body of code that is easy to read, easy to understand, and can be maintained by any other developer on the project.
            </p>
            <p>
                Without further ado, let's get started with a review of Design Patterns.
            </p>

        </div>

        <div class="d-flex py-30 pl-md-40">
            <div><i class="icon-arrow-left pr-10 font-13"></i><a class="font-16 open-sans link" href='/essentials'>Back to List</a></div>
            <div class="ms-auto"><a class="font-16 open-sans link" href='/essentials/designpatterns'>What are Design Patterns?</a><i class="icon-arrow-right font-13 pl-10"></i></div>
        </div>
    </div>


</div>



